// #### COUNTER ####
.counter-wrap#counter_target
  .container
    .row.justify-content-center.align-items-center
      .col.py-4
        .counter-item
          |
          |
          span.icon.ion-leaf
          |
          |
          .text
            h4.display-1
              span.numscroller(
                data-min="0"
                data-max="123"
                data-delay="5"
                data-increment="8"
              ) &nbsp;
            h6.title Lorem
      .col.py-4
        .counter-item
          |
          |
          span.icon.ion-ios-lightbulb-outline
          |
          |
          .text
            h4.display-1
              span.numscroller(
                data-min="0"
                data-max="456"
                data-delay="5"
                data-increment="8"
              ) &nbsp;
            h6.title Lorem
      .col.py-4
        .counter-item
          |
          |
          span.icon.ion-ios-world-outline
          |
          |
          .text
            h4.display-1
              span.numscroller(
                data-min="0"
                data-max="789"
                data-delay="5"
                data-increment="8"
              ) &nbsp;
            h6.title Lorem
// #### END COUNTER ####