.page-nav#page_nav
  nav.section-nav
    .scrollnav
      ul
        each item, index in menu.starter
          li(style=`top: ${30 * (menu.starter.length - index)}px`)
            a.tooltipped(
              href='#'+item.name
              data-position="left"
              data-tooltip=item.name
            )
  .scrollnav
    a.btn-floating.btn-large.primary.tooltipped.waves-effect.waves-light(
      href="#home"
      data-position="left"
      data-tooltip="To Top"
    )
      .icon.material-icons keyboard_arrow_up
