doctype html

//- Include variables base config
include base.pug

//- ****************************************
//- ** CSS Assets mixins
//- ****************************************

mixin productionCSS
  if doc_dir === 'rtl'
    link(href="../assets/css/starter-bundle-rtl.min.css" rel="stylesheet")
  else
    link(href=assets + "/css/starter-bundle.min.css" rel="stylesheet")

mixin generalCSS
  link(href=doc_dir === 'rtl' ? assets + "/css/rtl-vendors/materialize-rtl.css" : assets + "/css/vendors/materialize.css" rel="stylesheet")
  link(href=assets + "/css/vendors/hamburger-menu.css" rel="stylesheet")
  link(href=assets + "/css/vendors/jquery.animateSlider.css" rel="stylesheet")
  link(href=assets + "/css/vendors/animate.css" rel="stylesheet")
  link(href=assets + "/css/vendors/animate-extends.css" rel="stylesheet")
  link(href=assets + "/css/vendors/slick-carousel/slick.css" rel="stylesheet")
  link(href=assets + "/css/vendors/slick-carousel/slick-theme.css" rel="stylesheet")
  link(href=assets + "/css/styles.css" rel="stylesheet")

mixin localCSS
  // Put the 3rd/plugins css here
  link(href=assets + "/css/vendors/normalize.css" rel="stylesheet")
  link(href= doc_dir === 'rtl' ? assets + "/css/rtl-vendors/bootstrap-rtl.css" : assets + "/css/vendors/bootstrap.css" rel="stylesheet")
  link(href=assets + "/css/vendors/jquery.youtubebackground.css" rel="stylesheet")
  +generalCSS

mixin npmCSS
  // Put the 3rd/plugins css with from node_modules/ here
  link(href="./node_modules/normalize.css/normalize.css" rel="stylesheet")
  link(href=doc_dir === 'rtl' ? assets + "/css/rtl-vendors/bootstrap.css" : "./node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet")
  link(href="./node_modules/jquery-youtube-background/src/style.css" rel="stylesheet")
  +generalCSS

mixin cssAssets
  if env === 'prod'
    +productionCSS
  else if env === 'dev'
    +localCSS
  else
    +npmCSS

//- ****************************************
//- ** JS Assets mixins
//- ****************************************
mixin generalJS
  // This assets are not avalaible in npm.js or it has been costumized
  script(src=assets + "/js/vendors/modernizr-2.8.3-respond-1.4.2.min.js")
  script(src=assets + "/js/vendors/materialize.js")
  script(src=assets + "/js/vendors/jquery.animateSlider.js")
  script(src=assets + "/js/scripts.js")

mixin localJS
  // Put the 3rd/plugins javascript here
  script(src=assets + "/js/vendors/jquery.min.js")
  script(src=assets + "/js/vendors/bootstrap.min.js")
  script(src=assets + "/js/vendors/enquire.min.js")
  script(src=assets + "/js/vendors/jquery.enllax.min.js")
  script(src=assets + "/js/vendors/jquery.form-validator.min.js")
  script(src=assets + "/js/vendors/jquery.touchSwipe.min.js")
  script(src=assets + "/js/vendors/jquery.youtubebackground.js")
  script(src=assets + "/js/vendors/pace.min.js")
  script(src=assets + "/js/vendors/slick.min.js")
  script(src=assets + "/js/vendors/wow.min.js")
  script(src=assets + "/js/vendors/jquery.navScroll.min.js")
  +generalJS

mixin npmJS
  // Put the 3rd/plugins with from node_modules javascript here
  script(src="./node_modules/jquery/dist/jquery.min.js")
  script(src="./node_modules/bootstrap/dist/js/bootstrap.min.js")
  script(src="./node_modules/enquire.js/dist/enquire.min.js")
  script(src="./node_modules/enllax/dist/jquery.enllax.min.js")
  script(src="./node_modules/jquery-form-validator/form-validator/jquery.form-validator.min.js")
  script(src="./node_modules/jquery-touchswipe/jquery.touchSwipe.min.js")
  script(src="./node_modules/jquery-youtube-background/src/jquery.youtubebackground.js")
  script(src="./node_modules/pace-js/pace.min.js")
  script(src="./node_modules/slick-carousel/slick/slick.min.js")
  script(src="./node_modules/wow.js/dist/wow.min.js")
  script(src="./node_modules/jquery-nav-scroll/jquery.navScroll.min.js")
  +generalJS
  
mixin jsAssets
  if env === 'prod'
    script(src=assets + "/js/starter-bundle.min.js")
  else if env === 'dev'
    +localJS
  else
    +npmJS

html(lang=doc_lang dir=doc_dir)
  block variables
  head
    meta(charset="utf-8")
    meta(
      name="description"
      content=brand.starter.desc
    )
    meta(
      name="viewport"
      content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"
    )
    // Favicon
    link(rel="shortcut icon" href=assets + "/favicons/favicon.ico")
    link(rel="apple-touch-icon" sizes="57x57" href=assets + "/favicons/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href=assets + "/favicons/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href=assets + "/favicons/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href=assets + "/favicons/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href=assets + "/favicons/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href=assets + "/favicons/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href=assets + "/favicons/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href=assets + "/favicons/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href=assets + "/favicons/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192" href=assets + "/favicons/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href=assets + "/favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href=assets + "/favicons/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href=assets + "/favicons/favicon-16x16.png")
    link(rel="manifest" href=assets+ "/favicons/manifest.json")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content=assets + "/favicons/ms-icon-144x144.png")
    // PWA primary color
    meta(name="theme-color" content="#9c27b0")
    link(
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    )
    link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    // Facebook
    meta(property="author" content="luxi")
    meta(property="og:site_name" content="alexstrap.ux-maestro.com")
    meta(property="og:locale" content="en_US")
    meta(property="og:type" content="website")
    // Twitter
    meta(property="twitter:site" content="luxi.ux-maestro.com")
    meta(property="twitter:domain" content="luxi.ux-maestro.com")
    meta(property="twitter:creator" content="luxi")
    meta(property="twitter:card" content="summary")
    meta(property="twitter:image:src" content=assets + "/images/logo.png")
    meta(property="og:url" content=brand.starter.url)
    meta(property="og:title" content=brand.starter.projectName)
    meta(
      property="og:description"
      content=brand.starter.desc
    )
    meta(name="twitter:site" content=brand.starter.url)
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:image" content=brand.starter.img)
    meta(property="og:image" content=brand.starter.img)
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    title #{brand.starter.name} - #{pageTitle} 
    // Styles
    +cssAssets
  body
    #preloader(
      style="position: fixed; z-index: 10000; background: #fafafa; width: 100%; height: 100%"
    )
      img(
        style="opacity: 0.5; position: fixed; top: calc(50% - 50px); left: calc(50% - 50px)"
        src=assets + "/images/loading.gif"
        alt="loading"
      )
    block layout
    // Scripts
    +jsAssets